.hero-container{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.hero-left{
    display: flex;
    flex-direction: column;
}

.content-container{
    display: flex;
    flex-wrap: wrap;
}


.content-container>*{
    flex: 1;
}

.content-left>h1{
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    flex: 2;
}

.content-right{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: space-around;
    
}

.content-right>p{
    color: rgb(84, 82, 82);
}

.content-right>button{
    width:fit-content;
    padding: 0.7rem 2rem;
    background-color: rgb(255, 101, 45);
    border: none;
    border-radius: 1px;
    color: white;
}

.img-container>img{
    width: 100%;
}

.hero-right{
    background-color: black;
    color: white;
    padding: 0.6rem;
}

.hero-right .holder>h1{
    color: orange;

}

.hero-container .hero-right .holder{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.holder p{
    color: rgb(175, 175, 175);
}

hr{
    width: 95%;
    border: 1px solid rgb(86, 85, 85);
}