.hero-container{
    margin-top: 0.5rem;
    display: flex;
    gap: 2rem;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-container{
    display: flex;
    flex-wrap: wrap;
}


.content-container>*{
    flex: 1;
}

 .content-left{
       font-size: 3.5rem;
       font-weight: 700;
    }

.content-right{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: space-around;
    
}

.content-right>p{
    color: rgb(84, 82, 82);
}

.content-right>button{
    width:fit-content;
    padding: 0.7rem 2rem;
    background-color: rgb(255, 101, 45);
    border: none;
    border-radius: 1px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.content-right>button:hover{
    background-color: black;
}

.img-container>img{
    width: 100%;
}

.hero-right{
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.hero-right .holder>h1{
    color: orange;

}

.hero-container .hero-right .holder{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.holder p{
    color: rgb(175, 175, 175);
}

hr{
    border: 1px solid rgb(86, 85, 85);
}

.data h2:hover{
    color: orange;
    cursor: pointer;
}

@media (max-width:1080px) {
    .hero-container{
        flex-wrap: wrap;
    }

    .content-container{
        flex-direction: column;
    }

    .content-left{
       font-size: 3rem;
       font-weight: 700;
    }

}
