.app-container{
  width: fit-content;
  padding: 3rem 5rem;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width:1080px) {
    .app-container{
      padding: 0.5rem 0;
    }
}